@model List<Tarefa>

<html>
    <head></head>
    <body>
        <table>
                <tr>
                    <th>TarefaId</th>
                    <th>Quadro</th>
                    <th>Descricao</th>
                </tr>
                @foreach (var p in Model)
                {
                    <tr>
                        <td> @p.TarefaId </td>
                        <td> @p.Quadro </td>
                        <td> @p.Descricao </td>
                    </tr>
                }
            </table>
    </body>
</html>